.bg-img {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.main h4 {
  color: #444;
}

.title-box {
  backdrop-filter: contrast(0.5);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.bg-img img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: blur(5px);
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 10px;
}

.input-style {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: solid 1px #000;
  border-radius: 0;
  outline: none;
  width: 100%;
}

.input-style:focus {
  background: rgba(0, 0, 0, 0);
}

.thumbnail {
  width: 96%;
  border-radius: 6px;
  filter: drop-shadow(0 3px 5px rgba(0,0,0,0.4));
}