<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') %>
  </head>
  <body>
    <header class="text-center">
      <h1>
        エラー
      </h1>
      <h2>
        <%= err.message %>
      </h2>
    </header>
    <main class="main">
      <p>もうしわけございません。エラーが発生しました。</p>
      <a href="/">トップページへ</a>
    </main>
  </body>
</html>